

<template>
    <AppLayout title="Create">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <form @submit.prevent="form.post('/store')" class="px-4 py-5 bg-white">
                        <label class="mt-3 block font-medium text-sm text-gray-700">
                            <span>Url</span>
                        </label>
                        <input type="text" v-model="form.url" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full">
                        <div v-if="form.errors.url">{{ form.errors.url }}</div>

                        <label class="mt-3 block font-medium text-sm text-gray-700">
                            <span>Limit</span>
                        </label>
                        <input type="number" v-model="form.limit" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full">
                        <div v-if="form.errors.limit">{{ form.errors.limit }}</div>

                        <label class="mt-3 block font-medium text-sm text-gray-700">
                            <span>Time</span>
                        </label>
                        <select v-model="form.hours" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full">
                            <option v-for="val in 24" :value="val">{{val}}</option>
                        </select>
                        <div v-if="form.errors.hours">{{ form.errors.hours }}</div>

                        <button type="submit" :disabled="form.processing" class="mt-3 inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue';
import { useForm } from '@inertiajs/inertia-vue3'
import Input from "../Jetstream/Input";

export default {
    components: {
        Input,
        AppLayout,
    },
    setup () {
        const form = useForm({
            url: null,
            limit: null,
            hours: null,
        })

        return { form }
    },
}
</script>


<style>
form{
    max-width: 600px;
    margin: auto;
    padding: 40px;
}
</style>
