<template>
    <AppLayout title="Create">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="px-4 py-5 bg-white">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Url</th>
                                <th scope="col">Url Short</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(link, index) in links" style="    border-top: transparent;">
                                <th scope="row">{{ index + 1 }}</th>
                                <td>{{ link.url }}</td>
                                <td>
                                    <a :href="link.url_short" target="_blank">Go to link</a>
                                </td>
                                <td>{{ link.limit }}</td>
                                <td>{{ link.time_show }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue';

export default {
    props: {
        links: Array,
    },
    components: {
        AppLayout,
    },
}
</script>


<style>
.table > :not(:first-child) {
    border-top: 0px solid currentColor;
}
</style>
